<ion-header>
  <ion-toolbar>
    <ion-title>Volunteer Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-breadcrumbs>
  <ion-breadcrumb routerLink="/home">
    <ion-icon name="home"></ion-icon>
    <span>Home</span>
  </ion-breadcrumb>
  <ion-breadcrumb>
    <ion-icon name="person-add"></ion-icon>
    <span>Volunteer Registration</span>
  </ion-breadcrumb>
</ion-breadcrumbs>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2" size-lg="6" offset-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Register as a Volunteer</ion-card-title>
            <ion-card-subtitle>Please fill out the form to register</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <form (ngSubmit)="registerVolunteer()" #volunteerForm="ngForm">
              
              <!-- Name Field with Length Validation -->
              <ion-item>
                <ion-label position="floating">Name</ion-label>
                <ion-input
                  [(ngModel)]="newVolunteer.name"
                  name="name"
                  required
                  minlength="3"
                  maxlength="50"
                  #name="ngModel"
                ></ion-input>
              </ion-item>
              <ion-note *ngIf="name.touched && name.invalid" color="danger">
                <small *ngIf="name.errors?.['required']">Name is required.</small>
                <small *ngIf="name.errors?.['minlength']">Name must be at least 3 characters long.</small>
                <small *ngIf="name.errors?.['maxlength']">Name cannot be more than 50 characters long.</small>
              </ion-note>

              <!-- Phone Number Field with Digits Validation -->
              <ion-item>
                <ion-label position="floating">Phone Number</ion-label>
                <ion-input
                  [(ngModel)]="newVolunteer.phoneNumber"
                  name="phoneNumber"
                  required
                  pattern="^[0-9]{10}$"
                  type="tel"
                  #phoneNumber="ngModel"
                ></ion-input>
              </ion-item>
              <ion-note *ngIf="phoneNumber.touched && phoneNumber.invalid" color="danger">
                <small *ngIf="phoneNumber.errors?.['required']">Phone number is required.</small>
                <small *ngIf="phoneNumber.errors?.['pattern']">Phone number must be 10 digits.</small>
              </ion-note>

              <!-- Gender Selection with Default Interface -->
              <ion-item>
                <ion-label position="floating">Gender</ion-label>
                <ion-select
                  [(ngModel)]="newVolunteer.gender"
                  name="gender"
                  required
                  #gender="ngModel"
                >
                  <ion-select-option value="male">Male</ion-select-option>
                  <ion-select-option value="female">Female</ion-select-option>
                  <ion-select-option value="other">Other</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-note *ngIf="gender.touched && gender.invalid" color="danger">
                <small *ngIf="gender.errors?.['required']">Gender is required.</small>
              </ion-note>

              <!-- Age Field with Minimum Age Validation -->
              <ion-item>
                <ion-label position="floating">Age</ion-label>
                <ion-input
                  [(ngModel)]="newVolunteer.age"
                  name="age"
                  type="number"
                  min="18"
                  required
                  #age="ngModel"
                ></ion-input>
              </ion-item>
              <ion-note *ngIf="age.touched && age.invalid" color="danger">
                <small *ngIf="age.errors?.['required']">Age is required.</small>
                <small *ngIf="age.errors?.['min']">You must be at least 18 years old to register.</small>
              </ion-note>

              <!-- Center Selection with Default Interface -->
              <ion-item>
                <ion-label position="floating">Select Center</ion-label>
                <ion-select
                  [(ngModel)]="newVolunteer.centerId"
                  name="centerId"
                  required
                >
                  <ion-select-option *ngFor="let center of centers" [value]="center.centerId">
                    {{ center.name }} - {{ center.location }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-note *ngIf="volunteerForm.controls['centerId']?.touched && volunteerForm.controls['centerId']?.invalid" color="danger">
                <small *ngIf="volunteerForm.controls['centerId']?.errors?.['required']">Center selection is required.</small>
              </ion-note>

              <!-- Submit Button -->
              <ion-button
                expand="full"
                color="primary"
                type="submit"
                [disabled]="volunteerForm.invalid"
              >
                Register
              </ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
