<ion-header>
  <ion-toolbar>
    <ion-title>Approve Volunteers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-breadcrumbs>
  <ion-breadcrumb routerLink="/poc">
    <ion-icon name="home"></ion-icon>
    <span>Dashboard</span>
  </ion-breadcrumb>
  <ion-icon name="arrow-forward"></ion-icon>
  <ion-breadcrumb>
    <ion-icon name="checkmark-done-outline"></ion-icon>
    <span>Approve Volunteers</span>
  </ion-breadcrumb>
</ion-breadcrumbs>

<ion-content class="ion-padding">
  <ion-list *ngIf="pendingVolunteers.length > 0; else noPendingVolunteers">
    <ion-item-group *ngFor="let volunteer of pendingVolunteers | sort: 'name'">
      <ion-item lines="full">
        <ion-label>
          <h2>{{ volunteer.name }}</h2>
          <p>Phone: {{ volunteer.phoneNumber }}</p>
          <p>Gender: {{ volunteer.gender }}</p>
          <p>Age: {{ volunteer.age }}</p>
          <p>Status: {{ volunteer.status }}</p>
          <!-- Display Counselor Details if present -->
          <p *ngIf="volunteer.counselorDetails">Counselor Details: {{ volunteer.counselorDetails }}</p>
        </ion-label>
        <ion-buttons slot="end">
          <ion-button color="success" (click)="approveVolunteer(volunteer.volunteerId!)">
            Approve
          </ion-button>
          <ion-button color="danger" (click)="deleteVolunteer(volunteer.volunteerId!)">
            Delete
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-item-group>
  </ion-list>
   <!-- No Pending Volunteers Message -->
   <ng-template #noPendingVolunteers>
    <ion-label class="ion-text-center">
      <h2>No pending volunteers to approve</h2>
    </ion-label>
  </ng-template>
</ion-content>
