// ion-header {
//     ion-toolbar {
//       --background: var(--ion-color-primary);
//       --color: var(--ion-color-light);
//     }
//   }
  
  ion-button {
    margin-left: 8px;
  }
  
  ion-label h2 {
    font-size: 16px;
    font-weight: bold;
  }
  
  ion-label p {
    font-size: 14px;
    color: var(--ion-color-medium);
  }
  