ion-card {
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  ion-card-header {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  ion-item {
    margin-bottom: 20px;
  }