<ion-header>
  <ion-toolbar>
    <ion-title>Welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-breadcrumbs>
  <ion-breadcrumb>
    <ion-icon name="home"></ion-icon>
    <span>Home</span>
  </ion-breadcrumb>
</ion-breadcrumbs>

<ion-content class="ion-padding">

  <div class="home-container">
    <h1>Want to serve as Volunteer ?</h1>
    <p>Please register yourself.</p>
    <ion-button expand="full" color="primary" (click)="navigateToVolunteerRegistration()">
      Register as Volunteer
    </ion-button>

    <h1>Welcome to the Volunteer Management App</h1>
    <p>Please log in to continue.</p>
    <ion-button expand="full" color="primary" (click)="navigateToLogin()">
      Go to Login
    </ion-button>

    <h1>Manage Test Data</h1>
    <p>Use the buttons below to generate or delete test data.</p>
    <ion-button expand="full" color="secondary" (click)="generateTestData()">
      Generate Test Data
    </ion-button>
    <ion-button expand="full" color="danger" (click)="deleteTestData()">
      Delete Test Data
    </ion-button>
  </div>

</ion-content>
