<ion-header>
    <ion-toolbar>
      <ion-title>Edit Assignment: {{ volunteerName }}</ion-title> <!-- Display volunteer's name -->
      <ion-buttons slot="end">
        <ion-button (click)="close()">Close</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Admin Approval Status</ion-label>
      <ion-select [(ngModel)]="assignment.adminApprovalStatus">
        <ion-select-option *ngFor="let status of adminApprovalStatusOptions" [value]="status">
          {{ status }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
        <ion-label position="stacked">Admin Comment</ion-label>
        <ion-textarea [(ngModel)]="assignment.adminComment" placeholder="Enter comment..." [required]="assignment.adminApprovalStatus === 'rejected'"></ion-textarea>
      </ion-item>

    <ion-item>
      <ion-label position="stacked">Volunteer Arrival Date</ion-label>
      <ion-datetime display-format="MM/DD/YYYY" [(ngModel)]="assignment.volunteerArrivalDate"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Train Number</ion-label>
      <ion-input [(ngModel)]="assignment.trainNumber" placeholder="Enter train number..."></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Slots Selected</ion-label>
      <ion-list>
        <ion-item *ngFor="let slot of eventSlots">
          <ion-checkbox [(ngModel)]="selectedSlots[slot.slotId]"></ion-checkbox>
          <ion-text wrap="off">&nbsp;&nbsp;{{slot.slotId}} {{ slot.startDate | date }} - {{ slot.endDate | date }}</ion-text>
        </ion-item>
      </ion-list>
    </ion-item>
    
  </ion-list>

  <ion-button expand="full" (click)="save()">Save</ion-button>
</ion-content>
