<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/poc"></ion-back-button>
    </ion-buttons>
    <ion-title>Manage Events</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content class="ion-padding">
  <ion-list>
    <ion-item-group *ngFor="let event of events">
      <ion-item (click)="selectEvent(event)">
        <ion-label>
          <h2>{{ event.name }}</h2>
          <p>Start Date: {{ event.startDate | date: 'MMM d, yyyy' }}</p>
          <p>End Date: {{ event.endDate | date: 'MMM d, yyyy' }}</p>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="selectedEvent === event">
        <ion-label>
          <h3>Select Volunteers</h3>
        </ion-label>
        <ion-list>
          <ion-item *ngFor="let volunteer of volunteers">
            <ion-label>
              <h2>{{ volunteer.name }}</h2>
              <p>Availability: {{ volunteer.availability.full ? 'Full' : 'Date Range: ' + volunteer.availability.dateRange.join(' to ') }}</p>
            </ion-label>
            <ion-button color="primary" (click)="assignVolunteer(volunteer)">
              Assign
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content> -->
