<ion-header>
  <ion-toolbar>
    <ion-title>Manage Events</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="refreshEvents()">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-breadcrumbs>
  <ion-breadcrumb routerLink="/poc">
    <ion-icon name="home"></ion-icon>
    <span>Dashboard</span>
  </ion-breadcrumb>
  <ion-icon name="arrow-forward"></ion-icon>
  <ion-breadcrumb>
    <ion-icon name="calendar-outline"></ion-icon>
    <span>Manage Events</span>
  </ion-breadcrumb>
</ion-breadcrumbs>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <!-- Loop through events and use DisplayEventDetailsComponent -->
        <ng-container *ngFor="let event of events | sort: 'startDate'">
          <!-- Display event details using the standalone component -->
          <app-display-event-details [event]="event"></app-display-event-details>
          
          <!-- Button to update volunteers for the selected event -->
          <ion-item lines="none">
            <ion-button color="primary" expand="full" (click)="updateVolunteersForEvent(event)">
              Update Volunteer Details
            </ion-button>
          </ion-item>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
