ion-card {
  margin-bottom: 20px;
}

ion-card-header {
  text-align: center;
}

ion-input {
  margin-bottom: 20px;
}

ion-button {
  margin-top: 10px;
}
.error-message {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 12px;
}