<ion-header>
  <ion-toolbar>
    <div class="header-content">
      <ion-title class="responsive-title">Event Details</ion-title>
    </div>
  </ion-toolbar>
</ion-header>


<ion-breadcrumbs>
  <ion-breadcrumb routerLink="/admin">
    <ion-icon name="home"></ion-icon>
    <span>Dashboard</span>
  </ion-breadcrumb>
  <ion-breadcrumb routerLink="/admin/events">
    <ion-icon name="calendar"></ion-icon>
    <span>Events</span>
  </ion-breadcrumb>
  <ion-breadcrumb>
    <ion-icon name="calendar-number-sharp"></ion-icon>
    <span>Events</span>
  </ion-breadcrumb>
</ion-breadcrumbs>

<ion-content class="ion-padding">
  <app-display-event-details [event]="event"></app-display-event-details>


<!-- Actions Section: Refresh and Export -->
<ion-card *ngIf="assignments.length > 0">
  <ion-card-header>
    <ion-card-title>Actions</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="buttons-wrapper" style="display: flex; justify-content: space-around;">
      <div style="flex: 1; display: flex; justify-content: center;">
        <ion-button (click)="refreshPage()">
          <ion-icon slot="start" name="refresh"></ion-icon>
          Refresh
        </ion-button>
      </div>
      <div style="flex: 1; display: flex; justify-content: center;">
        <ion-button (click)="exportToExcel()">
          <ion-icon slot="start" name="document-outline"></ion-icon>
          Export to Excel
        </ion-button>
      </div>
    </div>
  </ion-card-content>
</ion-card>




<!-- Filters Section -->
<ion-card *ngIf="assignments.length > 0">
  <ion-card-header>
    <ion-card-title>Filters</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="filters-wrapper">
      <div class="filter-item">
        <ion-item>
          <ion-label position="stacked">Search by Name</ion-label>
          <ion-searchbar [(ngModel)]="filterName" placeholder="Enter volunteer's name"></ion-searchbar>
        </ion-item>
      </div>

      <div class="filter-item">
        <ion-item>
          <ion-label>Center</ion-label>
          <ion-select [(ngModel)]="filterCenter">
            <ion-select-option value="">All Centers</ion-select-option>
            <ion-select-option *ngFor="let center of centers" [value]="center">{{ center }}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>

      <div class="filter-item">
        <ion-item>
          <ion-label>Gender</ion-label>
          <ion-select [(ngModel)]="filterGender">
            <ion-select-option value="">All Genders</ion-select-option>
            <ion-select-option value="male">Male</ion-select-option>
            <ion-select-option value="female">Female</ion-select-option>
            <ion-select-option value="other">Other</ion-select-option>
            <!-- Add more options as needed -->
          </ion-select>
        </ion-item>
      </div>

      <div class="filter-item">
        <ion-item>
          <ion-label>Admin Status</ion-label>
          <ion-select [(ngModel)]="filterAdminStatus">
            <ion-select-option value="">All Statuses</ion-select-option>
            <ion-select-option value="review-pending">Review Pending</ion-select-option>
            <ion-select-option value="waiting">Waiting</ion-select-option>
            <ion-select-option value="approved">Approved</ion-select-option>
            <ion-select-option value="rejected">Rejected</ion-select-option>
          </ion-select>
        </ion-item>
      </div>

      <div class="filter-item">
        <ion-item>
          <ion-label>Slots</ion-label>
          <ion-select multiple="true" [(ngModel)]="filterSlots">
            <ion-select-option *ngFor="let slot of event?.slots" [value]="slot.slotId">
              {{ slot.slotId }}: {{ slot.startDate | date }} - {{ slot.endDate | date }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </div>

      <div class="filter-item">
        <ion-button color="light" expand="block" (click)="resetFilters()">Reset Filters</ion-button>
      </div>
    </div>
  </ion-card-content>
</ion-card>


<!-- Volunteers Section with Pagination -->
<ion-list>
  <ion-item-group>
    <ion-item-divider>
      <ion-label>Registered Volunteers</ion-label>
    </ion-item-divider>



        <!-- assignment section -->
        <ion-list *ngIf="assignments.length > 0">
              <ion-card *ngFor="let assignment of paginatedAssignments | sort: 'volunteer.name'">
                <ion-card-header>
                  <ion-card-title> <strong>{{ assignment.volunteer.name }}</strong></ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-list lines="none">
                    <ion-grid>
                      <!-- First Row: Phone, Gender, Age -->
                      <ion-row>
                        <ion-col>
                          <ion-item>
                            <ion-icon name="call" slot="start"></ion-icon>
                            <ion-label>
                              <strong>Phone:</strong> {{ assignment.volunteer.phoneNumber }}
                            </ion-label>
                          </ion-item>
                        </ion-col>
                  
                        <ion-col>
                          <ion-item>
                            <ion-icon name="male-female" slot="start"></ion-icon>
                            <ion-label>
                              <strong>Gender:</strong> {{ assignment.volunteer.gender }}
                            </ion-label>
                          </ion-item>
                        </ion-col>
                  
                        <ion-col>
                          <ion-item>
                            <ion-icon name="calendar" slot="start"></ion-icon>
                            <ion-label>
                              <strong>Age:</strong> {{ assignment.volunteer.age }}
                            </ion-label>
                          </ion-item>
                        </ion-col>
                      </ion-row>
                  
                      <!-- Second Row: Center, Center Location, Admin Status -->
                      <ion-row>
                        <ion-col>
                          <ion-item>
                            <ion-icon name="location" slot="start"></ion-icon>
                            <ion-label>
                              <strong>Center:</strong> {{ assignment.center.name }}
                            </ion-label>
                          </ion-item>
                        </ion-col>
                  
                        <ion-col>
                          <ion-item>
                            <ion-icon name="location" slot="start"></ion-icon>
                            <ion-label>
                              <strong>Center Location:</strong> {{ assignment.center.location }}
                            </ion-label>
                          </ion-item>
                        </ion-col>
                  
                        <ion-col>
                          <ion-item>
                            <ion-icon name="checkmark" slot="start"></ion-icon>
                            <ion-label>
                              <strong>Admin Status:</strong> {{ assignment.adminApprovalStatus }}
                            </ion-label>
                          </ion-item>
                        </ion-col>
                      </ion-row>
                  
                      <!-- Third Row: POC Name, POC Phone, POC Comment -->
                      <ion-row>
                        <ion-col>
                          <ion-item>
                            <ion-icon name="person" slot="start"></ion-icon>
                            <ion-label>
                              <strong>POC:</strong> {{ assignment.poc?.name }}
                            </ion-label>
                          </ion-item>
                        </ion-col>
                  
                        <ion-col>
                          <ion-item>
                            <ion-icon name="call" slot="start"></ion-icon>
                            <ion-label>
                              <strong>POC Phone:</strong> {{ assignment.poc?.phoneNumber }}
                            </ion-label>
                          </ion-item>
                        </ion-col>
                  
                        <ion-col>
                          <ion-item>
                            <ion-icon name="chatbox" slot="start"></ion-icon>
                            <ion-label>
                              <strong>POC Comment:</strong> {{ assignment.pocComment || 'No comments' }}
                            </ion-label>
                          </ion-item>
                        </ion-col>
                      </ion-row>
                  
                      <!-- Fourth Row: Arrival Date, Train Number, Slots Selected -->
                      <ion-row>
                        <ion-col>
                          <ion-item>
                            <ion-icon name="calendar" slot="start"></ion-icon>
                            <ion-label>
                              <strong>Arrival Date:</strong> {{ assignment.volunteerArrivalDate ? (assignment.volunteerArrivalDate | date) : 'Not provided' }}
                            </ion-label>
                          </ion-item>
                        </ion-col>
                  
                        <ion-col>
                          <ion-item>
                            <ion-icon name="train" slot="start"></ion-icon>
                            <ion-label>
                              <strong>Train Number:</strong> {{ assignment.trainNumber || 'Not provided' }}
                            </ion-label>
                          </ion-item>
                        </ion-col>
                  
                        <ion-col>
                          <ion-item>
                            <ion-icon name="clock" slot="start"></ion-icon>
                            <ion-label>
                              <strong>Slots Selected:</strong> {{ assignment.slotsSelected.join(', ') }}
                            </ion-label>
                          </ion-item>
                        </ion-col>
                      </ion-row>
                  
                      <!-- Fifth Row: Admin Comment, Edit Button -->
                      <ion-row>
                        <ion-col>
                          <ion-item>
                            <ion-icon name="chatbox" slot="start"></ion-icon>
                            <ion-label>
                              <strong>Admin Comment:</strong> {{ assignment.adminComment || 'No comments' }}
                            </ion-label>
                          </ion-item>
                        </ion-col>
                  
                        <ion-col>
                          <ion-item>
                            <ion-button slot="end" size="default" color="tertiary" (click)="openEditModal(assignment)">
                              <ion-icon slot="start" name="create-outline"></ion-icon>
                              Edit
                            </ion-button>
                          </ion-item>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-list>
                  
                  
                  
                </ion-card-content>
              </ion-card>
        </ion-list>


        <div *ngIf="filteredAssignments.length === 0">
          <p>No volunteers registered for this event.</p>
        </div>

<!-- Pagination Controls -->
        <ion-footer *ngIf="assignments.length > 0">
          <ion-toolbar>
            <ion-grid>
              <ion-row>
                <ion-col size-lg="4" size-sm="12" class="ion-text-left ion-justify-content-end">
                  <ion-buttons>
                    <ion-button (click)="prevPage()" [disabled]="currentPage === 1">
                      <ion-icon name="chevron-back" slot="start"></ion-icon>
                      Previous
                    </ion-button>
                  </ion-buttons>
                </ion-col>
                <ion-col size-lg="4" size-sm="12" class="ion-text-center">
                  <ion-title>
                    Page {{ currentPage }} of {{ totalPages }} | Total Records: {{ filteredAssignments.length }}
                  </ion-title>
                </ion-col>
                <ion-col size-lg="4" size-sm="12" class="ion-text-right">
                  <ion-buttons>
                    <ion-button (click)="nextPage()" [disabled]="currentPage >= totalPages">
                      Next
                      <ion-icon name="chevron-forward" slot="end"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-toolbar>
        </ion-footer>


  </ion-item-group>
</ion-list>
</ion-content>
