ion-grid {
    padding: 10px;
  }
  
  ion-card {
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  ion-card h2 {
    font-size: 18px;
    margin-top: 10px;
  }
  
  ion-card-title {
    color: #3880ff;
  }
  
  ion-icon {
    color: #3880ff;
    margin-bottom: 10px;
  }