ion-card {
    margin-bottom: 20px;
  }
  
  ion-card-header {
    text-align: center;
  }
  
  ion-input,
  ion-textarea,
  ion-datetime {
    margin-bottom: 20px;
  }
  
  ion-button {
    margin-top: 10px;
  }
  