ion-card {
  margin-bottom: 20px;
}

ion-card-header {
  text-align: center;
}

ion-input,
ion-textarea,
ion-datetime {
  margin-bottom: 20px;
}

ion-button {
  margin-top: 10px;
}

ion-item {
  margin-bottom: 10px;
}

ion-button {
  margin-top: 5px;
}

ion-label {
  font-size: 0.9em;
}

ion-grid {
  padding: 0;
}

ion-col {
  padding: 0;
}
