<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin"></ion-back-button>
    </ion-buttons>
    <ion-title>Manage Centers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-breadcrumbs>
  <ion-breadcrumb routerLink="/admin">
    <ion-icon name="home"></ion-icon>
    <span>Dashboard</span>
  </ion-breadcrumb>
  <ion-breadcrumb>
    <ion-icon name="business"></ion-icon>
    <span>Centers</span>
  </ion-breadcrumb>
</ion-breadcrumbs>

<ion-content class="ion-padding">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2">
        <!-- Button to open modal for adding a new center -->
        <ion-button expand="full" color="primary" (click)="openCenterModal()">
          Add New Center
        </ion-button>

        <ion-list>
          <ion-item-group *ngFor="let center of centers | sort: 'name'">
            <ion-item>
              <ion-label>
                <h2>{{ center.name }}</h2>
                <p>{{ center.location }}</p>
              </ion-label>
              <ion-button slot="end" color="primary" (click)="editCenter(center)">
                Edit
              </ion-button>
              <ion-button slot="end" color="danger" (click)="deleteCenter(center.centerId!)">
                Delete
              </ion-button>
            </ion-item>
          </ion-item-group>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Center Modal -->
  <ion-modal
    #centerModal
    [isOpen]="isModalOpen"
    (didDismiss)="onModalDidDismiss()"
    backdropDismiss="false"
  >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ editMode ? 'Edit Center' : 'Add New Center' }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeCenterModal()">
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <form (ngSubmit)="editMode ? updateCenter() : addCenter()">
          <ion-item>
            <ion-label position="floating">Center Name</ion-label>
            <ion-input [(ngModel)]="newCenter.name" name="name" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Location</ion-label>
            <ion-input [(ngModel)]="newCenter.location" name="location" required></ion-input>
          </ion-item>
          <ion-button expand="full" color="primary" type="submit">
            {{ editMode ? 'Update Center' : 'Add Center' }}
          </ion-button>
          <ion-button expand="full" color="light" (click)="cancelEdit()">
            Cancel
          </ion-button>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
