<ion-header>
  <ion-toolbar>
    <ion-title>Update Volunteer Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-breadcrumbs>
  <ion-breadcrumb routerLink="/poc">
    <ion-icon name="home"></ion-icon>
    <span>Dashboard</span>
  </ion-breadcrumb>
  <ion-breadcrumb routerLink="/poc/events">
    <ion-icon name="calendar-outline"></ion-icon>
    <span>Manage Events</span>
  </ion-breadcrumb>
  <ion-breadcrumb>
    <ion-icon name="people"></ion-icon>
    <span>Volunteer Details</span>
  </ion-breadcrumb>
</ion-breadcrumbs>

<ion-content class="ion-padding">

  <!-- Event Details Section -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ selectedEvent?.name }}</ion-card-title>
      <ion-card-subtitle>{{ selectedEvent?.startDate | date }} - {{ selectedEvent?.endDate | date }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Description:</strong> {{ selectedEvent?.description }}</p>
      <p><strong>Registration Period:</strong> {{ selectedEvent?.registrationStartDate | date: 'mediumDate' }} - {{ selectedEvent?.registrationEndDate | date: 'mediumDate' }}</p>
      <p><strong>Location:</strong> {{ selectedEvent?.locationDetails }}</p>
      <p><strong>Event Manager:</strong> {{ selectedEvent?.eventManagerName }} ({{ selectedEvent?.eventManagerContactNumber }})</p>
      <p><strong>Email:</strong> {{ selectedEvent?.eventManagerEmailId }}</p>

      <div *ngIf="selectedEvent?.slots?.length">
        <h4>Slots</h4>
        <ul>
          <li *ngFor="let slot of selectedEvent?.slots">
            {{ slot.slotId }}: {{ slot.startDate | date }} - {{ slot.endDate | date }}
          </li>
        </ul>
      </div>
      <div *ngIf="!selectedEvent?.slots?.length">
        <p>No slots available for this event.</p>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Registration Start in Future -->
  <ion-card *ngIf="isRegistrationFuture">
    <ion-card-content>
      <p style="color: red; font-weight: bold;">Note</p>
      <p>Volunteer registration for this event will start from {{ selectedEvent?.registrationStartDate | date: 'mediumDate' }}.</p>
    </ion-card-content>
  </ion-card>

  <!-- Registration Ended in the Past -->
  <ion-card *ngIf="isRegistrationClosed">
    <ion-card-content>
      <p style="color: red; font-weight: bold;">Note</p>
      <p>Volunteer registration window for this event is closed. You can still update the details of your already added volunteers, but you cannot add or remove volunteers. For any queries, please contact the event manager.</p>
      <p><strong>Event Manager:</strong> {{ selectedEvent?.eventManagerName }} ({{ selectedEvent?.eventManagerContactNumber }})</p>
      <p><strong>Email:</strong> {{ selectedEvent?.eventManagerEmailId }}</p>
    </ion-card-content>
  </ion-card>

  <!-- Available Volunteers Section -->
  <ion-card *ngIf="!isRegistrationFuture">
    <ion-card-header>
      <ion-card-title>Available Volunteers</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="availableVolunteers.length > 0">
        <ion-item *ngFor="let volunteer of availableVolunteers">
          <ion-label>
            <h2>{{ volunteer.name }}</h2>
            <p>Phone: {{ volunteer.phoneNumber }}</p>
            <p>Gender: {{ volunteer.gender }}</p>
            <p>Age: {{ volunteer.age }}</p>
          </ion-label>
          <ion-button color="primary" (click)="onAddVolunteer(volunteer)" [disabled]="isRegistrationClosed">
            Add to Event
          </ion-button>
        </ion-item>
      </ion-list>
      <div *ngIf="availableVolunteers.length === 0">
        <p>No volunteers available.</p>
      </div>
    </ion-card-content>
  </ion-card>

<!-- Assigned Volunteers Section -->
<ion-card *ngIf="!isRegistrationFuture">
  <ion-card-header>
    <ion-card-title>Assigned Volunteers</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list *ngIf="assignedVolunteers.length > 0">
      <ion-item *ngFor="let assignment of assignedVolunteers">
        <ion-label>
          <h2>{{ getVolunteerName(assignment.volunteerId) }}</h2>
          <p>Arrival: {{ assignment?.volunteerArrivalDate ? (assignment.volunteerArrivalDate | date:'medium') : 'NA' }}</p>          <p>Slots Selected: {{ assignment.slotsSelected.join(', ') }}</p>
          <p>Admin Approval Status: {{ assignment.adminApprovalStatus }}</p>
          <p>Admin Comment: {{ assignment.adminComment }}</p>
          <p>POC Comment: {{ assignment.pocComment }}</p>
          <p *ngIf="assignment.trainNumber">Train Number: {{ assignment.trainNumber }}</p>
        </ion-label>
        <ion-button color="tertiary" (click)="openEditAssignmentModal(assignment)">
          Edit
        </ion-button>
        <ion-button color="danger" (click)="removeVolunteerFromEvent(assignment)" [disabled]="isRegistrationClosed">
          Remove
        </ion-button>
      </ion-item>
    </ion-list>
    <div *ngIf="assignedVolunteers.length === 0">
      <p>No volunteers assigned to this event.</p>
    </div>
  </ion-card-content>
</ion-card>



<!-- Edit Assignment Modal -->
<ion-modal [isOpen]="isEditModalOpen" (didDismiss)="closeEditAssignmentModal()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Edit Assignment</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeEditAssignmentModal()">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="modal-content" *ngIf="currentAssignment">
      <ion-item class="responsive-item">
        <ion-label position="stacked">Volunteer Name</ion-label>
        <ion-input [value]="getVolunteerName(currentAssignment.volunteerId || '')" readonly></ion-input>
      </ion-item>
      <ion-item class="responsive-item">
        <ion-label position="stacked">Volunteer Arrival Date</ion-label>
        <ion-datetime
          [(ngModel)]="currentAssignment.volunteerArrivalDate"
          presentation="date-time"
          [max]="selectedEvent?.endDate"
        ></ion-datetime>
      </ion-item>
      <ion-item class="responsive-item">
        <ion-label position="stacked">Train Number</ion-label>
        <ion-input [(ngModel)]="currentAssignment.trainNumber" maxlength="10"></ion-input>
      </ion-item>
      <ion-item class="responsive-item">
        <ion-label position="stacked">Poc Comment</ion-label>
        <ion-textarea [(ngModel)]="currentAssignment.pocComment" maxlength="500"></ion-textarea>
      </ion-item>
      <ion-button expand="block" color="primary" (click)="saveUpdatedAssignment()">
        Save Changes
      </ion-button>
      <ion-button expand="full" color="light"  (click)="closeEditAssignmentModal()">
        Cancel
      </ion-button>
    </ion-content>
  </ng-template>
</ion-modal>

  <!-- Slot Selection Modal -->
  <ion-modal [isOpen]="isSlotSelectionOpen" (didDismiss)="onSlotSelectionClose()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Select Slots</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="onSlotSelectionClose()">
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item *ngFor="let slot of selectedEvent?.slots">
            <ion-checkbox [(ngModel)]="slotSelection[slot.slotId]"></ion-checkbox>
            <ion-label>{{ slot.slotId }}: {{ slot.startDate | date }} - {{ slot.endDate | date }}</ion-label>
          </ion-item>
        </ion-list>
        <ion-button expand="block" color="primary" (click)="confirmSlotSelection()">
          Confirm Selection
        </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>




</ion-content>
